{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block poster %}

{% endblock poster %}

{% block main %}
<main>

            <!-- SALES BLOCK START -->
        <!-- <div class="sales_block">
            <div class="d-flex text-center">
                <div class="sales_block-first w-50">
                    <p>GET <span>20% OFF</span> FOR $200 AND MORE ORDER</p>
                </div>
                <div class="sales_block-second w-50">
                    <p>FREE DELIVERY WORLDWIDE</p>
                </div>
            </div>
        </div> -->
        <!-- SALES BLOCK END -->

        <section class="category_products">
            <!-- PRODUCTS FILTER START -->
            <div class="products_filter">
                <div class="container">
                    <div class="row justify-content-around">
                        {% include 'store/components/_sorters.html' %}
                    </div>
                </div>
            </div>
            <!-- PRODUCTS FILTER END -->

            <!-- PRODUCTS BLOCK START -->
            <div class="container">
                <div class="row">
                    {% for product in products %}
                    {% include 'store/components/_product_card.html' %}
                    {% endfor %}
                </div>
            </div>
            <!-- PRODUCTS BLOCK END -->

            <!-- PAGINATION START -->
            {% include 'store/components/_pagination.html' %}
            <!-- PAGINATION END -->
        </section>
    </main>
{% endblock main %}